@tailwind base;
@tailwind components;
@tailwind utilities;


.address-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    margin: 0 auto;
  }
  
  .address-input {
    padding: 10px 15px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  .address-input:focus {
    border-color: #00aaff;
    box-shadow: 0 0 8px rgba(0, 170, 255, 0.6);
  }

  @keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  .animate-gradient {
    background-size: 200% 200%;
    animation: gradient 6s ease infinite;
  }
  .gm-ui-hover-effect{
    display: none !important;
  }

  .gm-style-iw-ch{
    padding: 0 !important;
  }

  .gm-style .gm-style-iw-c{
    padding: 0 !important;
  }

  .gm-style-iw-d{
    padding: 0 !important;
    overflow: hidden !important;
  }